<h3><%= @artist.name %></h3>

<div class="pull-right">
  <%= image_tag @artist.img_url %>
</div>

<div class = "jumbotron">
  <div class="container">
  <h4>List of all songs by this artist:</h4>
    <% if @artist.songs.any?  %>
      <ul>
        <% @artist.songs.each do |song| %>
          <li><%= song.title %>
          <%= link_to "[delete]", artist_song_path(@artist, song.id), method: :delete, data: { confirm: "Are you sure you want to delete #{song.title} by #{@artist.name}?" } %></li>
        <% end %>
      </ul>
    <% else %>
      <p>This artist has yet to sing a song to our database!</p>
    <% end %>
  </div>
</div>

<hr>

<nav>
  <%= link_to "Add a song to this artist", new_artist_song_path(@artist), class: "btn btn-default" %>
  <%= link_to "Delete this artist", artist_path(@artist), method: :delete, data: { confirm: "Are you sure you want to delete everything by #{@artist.name}?" },class: "btn btn-default" %>
  <%= link_to "Home", root_path, class: "btn btn-default" %>
</nav>
