<%= form_with(model: [@artist, @song], remote: true) do |f| %>

  <ul>
      <% @song.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :artist_id %>
  <%= f.collection_select(:artist_id, Artist.all, :id, :name, prompt: "Choose an artist!") %>

  <%= f.submit ("Add this song!") %>

<% end %>
